<td>{{receiptProduct.product.name}}</td>
<td>
  <div id="quantityChanger" class="input-group">
    <span class="input-group-btn">
      <button class="btn btn-info" type="button" (click)="decreaseQuantity()"> - </button>
    </span>
    <input type="number" class="form-control text-center" [(ngModel)]="receiptProduct.quantity" (ngModelChange)="updateSubtotal()">
    <span class="input-group-btn">
      <button class="btn btn-info" type="button" (click)="increaseQuantity()"> + </button>
    </span>
  </div>
</td>
<td class="text-right">{{receiptProduct.subtotal | currency:'GBP':true:'1.2-2'}}</td>
