<td class="col-md-3">{{receiptProduct.product.name}}</td>
<td class="col-md-1"><i class="fa fa-info"></i></td>
<td class="col-md-3">
  <div id="quantityChanger" class="input-group">
    <span class="input-group-btn">
      <button class="btn btn-info" type="button" (click)="decreaseQuantity()"> - </button>
    </span>
    <input type="number" class="form-control text-center" [(ngModel)]="receiptProduct.quantity" (ngModelChange)="updateSubtotal()">
    <span class="input-group-btn">
      <button class="btn btn-info" type="button" (click)="increaseQuantity()"> + </button>
    </span>
  </div>
</td>
<td class="col-md-2">
  <i class="fa fa-times" (click)="removeProductFromReceipt()"></i>
  <i class="fa fa-tag" (click)="openDiscountModal()"></i>
</td>
<td class="text-right col-md-3">{{receiptProduct.subtotal | currency:'GBP':true:'1.2-2'}}</td>
